{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block menu %}
    {% include 'includes/sidebar.html' %}
{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
    <div class="shedule">
        <div class="shedule__nav">
            <div class="shedule__groupName">
               Група: {{group}}
            </div>
            <a download="" href="#" class="shedule__download">
                <img src="{% static 'img/icon/floppy-disk.svg' %}" class="floppy-disk" alt="">
                <span>Завантажити розклад</span>
            </a>
        </div>
        <div class="shedule__outer" id="shedule-scroll">
            <div class="shedule__table">
                <table class="shedule-table">
                    <tr>
                        <th rowspan="2" class="shedule__text shedule__title">Час<br class="mob-br"> заняття</th>
                        <th colspan="5" class="shedule__subtitle">
                            День тижня
                        </th>
                    </tr>
                    <tr>
                        <td class="shedule__day">
                            Понеділок
                        </td>
                        <td class="shedule__day">
                            Вівторок
                        </td>
                        <td class="shedule__day">
                            Cереда
                        </td>
                        <td class="shedule__day">
                            Четвер
                        </td>
                        <td class="shedule__day">
                            П'ятниця
                        </td>
                    </tr>
                    {% for lesson in lessons %}
                    <tr>
                        <td class="shedule__time">
                            <span>
                                {{forloop.counter}} пара <br>
                                {{forloop.counter|get_time}}
                            </span>
                            <span>
                            </span>
                        </td>
                        {% for info in lesson %}
                            {% if info and not info.empty %}
                                {% if info.days is not None %}
                                  <td class="shedule__subject hoverChange">
                                    <div class="shedule__type">
                                        <div class="shedule__subject--plus" style="opacity: 0; visibility: hidden; z-index: -4;">
                                            <div class="shedule__subject--mini" data-action="{% url 'lessons:create' %}" data-group="{{group.id}}" data-day="{{forloop.counter0}}" data-time="{{forloop.parentloop.counter|get_time_value}}">
                                                <img class="img-svg" src="{% static 'img/icon/plus.svg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="shedule__subject--info current">
                                            <div class="shedule__subject--nav">
                                                <span class="shedule__subject--room">
                                                    {{info.room}}
                                                </span>
                                                <div style="display: flex">
                                                    <span class="shedule__subject--type shedule__subject--week" style="opacity: 0">{{info.get_mode}}</span>
                                                    <span class="shedule__subject--type">{{info.get_type}}</span>
                                                </div>
                                            </div>
                                            <div class="shedule__subject--wrap">
                                                <div class="shedule__subject--name">
                                                    {{info.subject}}
                                                </div>
                                                <div class="shedule__subject--teach">
                                                    {{info.teacher.get_full_name}}<br>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shedule__subject--change">
                                            <div class="shedule__subject--changeBlock">
                                                <div class="shedule__subject--edit" data-action="{% url 'lessons:update' lesson_uuid=info.uuid %}" data-group="{{group.id}}" data-day="{{info.days}}" data-time="{{info.time}}" ><img class="img-svg" src="{% static 'img/icon/edit.svg' %}"  alt=""></div>
                                                <div class="shedule__subject--delete" data-action="{% url 'lessons:delete' lesson_uuid=info.uuid %}"><img class="img-svg" src="{% static 'img/icon/delete.svg' %}" alt=""></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shedule__type shedule__hide">
                                        <div class="shedule__subject--plus" style="opacity: 0; visibility: hidden; z-index: -4;">
                                            <div class="shedule__subject--mini" data-action="{% url 'lessons:create' %}" data-group="{{group.id}}" data-day="{{forloop.counter0}}" data-time="{{forloop.parentloop.counter|get_time_value}}">
                                                <img class="img-svg" src="{% static 'img/icon/plus.svg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="shedule__subject--info current">
                                            <div class="shedule__subject--nav">
                                                <span class="shedule__subject--room">
                                                    {{info.room}}
                                                </span>
                                                <div style="display: flex">
                                                    <span class="shedule__subject--type shedule__subject--week" style="display: none">{{info.get_mode}}</span>
                                                    <span class="shedule__subject--type">{{info.get_type}}</span>
                                                </div>
                                            </div>
                                            <div class="shedule__subject--wrap">
                                                <div class="shedule__subject--name">
                                                    {{info.subject}}
                                                </div>
                                                <div class="shedule__subject--teach">
                                                    {{info.teacher.get_full_name}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shedule__subject--change">
                                            <div class="shedule__subject--changeBlock">
                                                <div class="shedule__subject--edit" data-action="{% url 'lessons:update' lesson_uuid=info.uuid %}" data-group="{{group.id}}" data-day="{{info.days}}" data-time="{{info.time}}" ><img class="img-svg" src="{% static 'img/icon/edit.svg' %}"  alt=""></div>
                                                <div class="shedule__subject--delete" data-action="{% url 'lessons:delete' lesson_uuid=info.uuid %}"><img class="img-svg" src="{% static 'img/icon/delete.svg' %}" alt=""></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                {% else %}
                                    {% for day, lessons in info.items %}
                                        {% if lessons|length > 1 %}
                                            <td class="shedule__subject">
                                            {% for less_info in lessons %}
                                                    <div class="shedule__type shedule__mini hoverChange">
                                                       <div class="shedule__subject--plus">
                                                            <div class="shedule__subject--mini" data-action="{% url 'lessons:create' %}" data-group="{{group.id}}" data-day="{{less_info.days}}" data-time="{{less_info.time}}">
                                                                <img class="img-svg" src="{% static 'img/icon/plus.svg' %}" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="shedule__subject--info current" style="opacity: 1; visibility: visible; z-index: 4;">
                                                            <div class="shedule__subject--nav">
                                                                <span class="shedule__subject--room">{{less_info.room}}</span>
                                                                <div style="display: flex">
                                                                    <span class="shedule__subject--type">{{less_info.get_mode}}</span>
                                                                    <span class="shedule__subject--type">{{less_info.get_type}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="shedule__subject--wrap">
                                                                <div class="shedule__subject--name">{{less_info.subject}}</div>
                                                                <div class="shedule__subject--teach">{{less_info.teacher}}</div>
                                                            </div>
                                                        </div>
                                                        <div class="shedule__subject--change">
                                                            <div class="shedule__subject--changeBlock">
                                                                <div class="shedule__subject--edit" data-action="{% url 'lessons:update' lesson_uuid=less_info.uuid %}" data-group="{{group.id}}" data-day="{{less_info.days}}" data-time="{{less_info.time}}" ><img class="img-svg" src="{% static 'img/icon/edit.svg' %}"  alt=""></div>
                                                                <div class="shedule__subject--delete" data-action="{% url 'lessons:delete' lesson_uuid=less_info.uuid %}"><img class="img-svg" src="{% static 'img/icon/delete.svg' %}" alt=""></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            {% endfor %}
                                            </td>
                                        {% elif lessons|length > 0 %}
                                            {% for less_info in lessons %}
                                                <td class="shedule__subject">
                                                     <div class="shedule__type shedule__mini hoverChange">
                                                        <div class="shedule__subject--plus">
                                                            <div class="shedule__subject--mini" data-action="{% url 'lessons:create' %}" data-group="{{group.id}}" data-day="{{less_info.days}}" data-time="{{less_info.time}}">
                                                                <img class="img-svg" src="{% static 'img/icon/plus.svg' %}" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="shedule__subject--info current" style="opacity: 1; visibility: visible; z-index: 4;">
                                                            <div class="shedule__subject--nav">
                                                                <span class="shedule__subject--room">{{less_info.room}}</span>
                                                                <div style="display: flex">
                                                                    <span class="shedule__subject--type">{{less_info.get_mode}}</span>
                                                                    <span class="shedule__subject--type">{{less_info.get_type}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="shedule__subject--wrap">
                                                                <div class="shedule__subject--name">{{less_info.subject}}</div>
                                                                <div class="shedule__subject--teach">{{less_info.teacher}}</div>
                                                            </div>
                                                        </div>
                                                        <div class="shedule__subject--change">
                                                            <div class="shedule__subject--changeBlock">
                                                                <div class="shedule__subject--edit" data-action="{% url 'lessons:update' lesson_uuid=less_info.uuid %}" data-group="{{group.id}}" data-day="{{less_info.days}}" data-time="{{less_info.time}}" ><img class="img-svg" src="{% static 'img/icon/edit.svg' %}"  alt=""></div>
                                                                <div class="shedule__subject--delete" data-action="{% url 'lessons:delete' lesson_uuid=less_info.uuid %}"><img class="img-svg" src="{% static 'img/icon/delete.svg' %}" alt=""></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="shedule__type shedule__mini">
                                                        <div class="shedule__subject--plus">
                                                            <div class="shedule__subject--mini" data-action="{% url 'lessons:create' %}" data-group="{{group.id}}" data-day="{{less_info.days}}" data-time="{{less_info.time}}">
                                                                <img class="img-svg" src="{% static 'img/icon/plus.svg' %}" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="shedule__subject--info" style="visibility: hidden; opacity: 0; z-index: -10;">
                                                            <div class="shedule__subject--nav">
                                                                <span class="shedule__subject--room">

                                                                </span>
                                                                <div style="display: flex">
                                                                    <span class="shedule__subject--type"></span>
                                                                    <span class="shedule__subject--type"></span>
                                                                </div>
                                                            </div>
                                                            <div class="shedule__subject--wrap">
                                                                <div class="shedule__subject--name">
                                                                </div>
                                                                <div class="shedule__subject--teach">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="shedule__subject--change">
                                                            <div class="shedule__subject--changeBlock">
                                                                <div class="shedule__subject--edit"><img class="img-svg" src="{% static 'img/icon/edit.svg' %}"  alt=""></div>
                                                                <div class="shedule__subject--delete"><img class="img-svg" src="{% static 'img/icon/delete.svg' %}" alt=""></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                   <td class="shedule__subject">
                                    <div class="shedule__type">
                                        <div class="shedule__subject--plus">
                                            <div class="shedule__subject--mini" data-action="{% url 'lessons:create' %}" data-group="{{group.id}}" data-day="{{forloop.counter0}}" data-time="{{forloop.parentloop.counter|get_time_value}}">
                                                <img class="img-svg" src="{% static 'img/icon/plus.svg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="shedule__subject--info">
                                            <div class="shedule__subject--nav">
                                                <span class="shedule__subject--room">
                                                    {{info.room}}
                                                </span>
                                                <div style="display: flex">
                                                    <span class="shedule__subject--type shedule__subject--week" style="display: none">{{info.get_mode}}</span>
                                                    <span class="shedule__subject--type">{{info.get_type}}</span>
                                                </div>
                                            </div>
                                            <div class="shedule__subject--wrap">
                                                <div class="shedule__subject--name">
                                                    {{info.subject}}
                                                </div>
                                                <div class="shedule__subject--teach">
                                                    {{info.teacher.get_full_name}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shedule__subject--change">
                                            <div class="shedule__subject--changeBlock">
                                                <div class="shedule__subject--edit"><img class="img-svg" data-action="/lesson/update/" data-group="" data-day="" data-time="" src="{% static 'img/icon/edit.svg' %}" alt=""></div>
                                                <div class="shedule__subject--delete"><img class="img-svg" data-action="/lesson/delete/" src="{% static 'img/icon/delete.svg' %}" alt=""></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shedule__type shedule__hide">
                                        <div class="shedule__subject--plus">
                                            <div class="shedule__subject--mini" data-action="{% url 'lessons:create' %}" data-group="{{group.id}}" data-day="{{forloop.counter0}}" data-time="{{forloop.parentloop.counter|get_time_value}}">
                                                <img class="img-svg" src="{% static 'img/icon/plus.svg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="shedule__subject--info">
                                            <div class="shedule__subject--nav">
                                                <span class="shedule__subject--room">
                                                    {{info.room}}
                                                </span>
                                                <div style="display: flex">
                                                    <span class="shedule__subject--type shedule__subject--week" style="display: none">{{info.get_mode}}</span>
                                                    <span class="shedule__subject--type">{{info.get_type}}</span>
                                                </div>
                                            </div>
                                            <div class="shedule__subject--wrap">
                                                <div class="shedule__subject--name">
                                                    {{info.subject}}
                                                </div>
                                                <div class="shedule__subject--teach">
                                                    {{info.teacher.get_full_name}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shedule__subject--change">
                                            <div class="shedule__subject--changeBlock">
                                                <div class="shedule__subject--edit"><img class="img-svg" data-action="/lesson/update/" data-group="" data-day="" data-time="" src="{% static 'img/icon/edit.svg' %}" alt=""></div>
                                                <div class="shedule__subject--delete"><img class="img-svg" data-action="/lesson/delete/" src="{% static 'img/icon/delete.svg' %}" alt=""></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
    <div class="shedule__modal">
        <div class="shedule__modal--main">
            <div class="shedule__modal--close">
                <img class="img-svg" src="{% static 'img/icon/close.svg' %}" alt="">
            </div>
            <div class="shedule__modal--title">
                Додати новий предмет
            </div>
            <form data-action="" id="create-lesson">
                <div class="shedule__modal--block">
                    <div class="shedule__modal--item">
                        <span>Аудиторія:</span>
                        {{lesson_create_form.room}}
                    </div>
                    <div class="shedule__modal--item">
                        <div class="shedule__modal--discipline">
                            <span>
                                Тип заняття:
                            </span>
                            {{lesson_create_form.type}}
                        </div>
                    </div>
                    <div class="shedule__modal--item">
                        <div class="shedule__modal--discipline">
                            <span>
                                Вид заняття:
                            </span>
                            {{lesson_create_form.mode}}
                        </div>
                    </div>
                    <div class="shedule__modal--item">
                        <div class="shedule__modal--discipline">
                            <span>
                                Дисципліна:
                            </span>
                            {{lesson_create_form.subject_field}}
                        </div>
                    </div>
                    <div class="shedule__modal--item">
                        <div class="shedule__modal--discipline">
                            <span>
                                Викладач:
                            </span>
                            {{lesson_create_form.teacher_field}}
                        </div>
                    </div>
                    <input type="hidden" name="days" value="">
                    <input type="hidden" name="time" value="">
                    <input type="hidden" name="group" value="">
                    <span class="shedule__modal--error"></span>
                    <button type="submit" class="shedule__modal--btn">
                        Зберегти
                    </button>
                </div>
            </form>
            <div class="shedule__modal--cover"></div>
            <div class="cap__image--block">
                    <img src="{% static 'img/icon/loading.svg' %}" alt="" class="cap__load img-svg">
            </div>
        </div>
        <div class="shedule__modal--check">
            <svg viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                <path d="M 18 32.34 l -8.34 -8.34 -2.83 2.83 11.17 11.17 24 -24 -2.83 -2.83 z" stroke="#fff" fill="transparent"/>
            </svg>
        </div>
    </div>
    <div class="shedule__delete">
        <div class="shedule__modal--main">
            <div class="shedule__modal--title">
                Ви впевнені що хочете видалити цю дисципліну?
            </div>
            <div class="shedule__delete--buttons">
                <div class="shedule__delete--yes">
                    Так
                </div>
                <div class="shedule__delete--no">
                    Ні
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/lesson-create.js' %}"></script>
{% endblock %}
