{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}


{% block menu %}
    {% include 'includes/sidebar.html' %}
{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
<div class="shedule">
        <div class="shedule__nav">
            <div class="shedule__semester">
                Семестр: <span>2</span>
            </div>
            <a download="" href="#" class="shedule__download">
                <img src="{% static 'img/icon/floppy-disk.svg' %}" class="floppy-disk" alt="">
                <span>Завантажити розклад</span>
            </a>
        </div>
        <div class="shedule__outer" id="shedule-scroll">
            <div class="shedule__table">
                <table class="shedule-table">
                <tbody><tr>
                    <th rowspan="2" class="shedule__text shedule__title">Час заняття</th>
                    <th colspan="5" class="shedule__subtitle">
                        День тижня
                    </th>
                </tr>
                <tr>
                    <td class="shedule__day">
                        Понеділок
                    </td>
                    <td class="shedule__day">
                        Вівторок
                    </td>
                    <td class="shedule__day">
                        Cереда
                    </td>
                    <td class="shedule__day">
                        Четвер
                    </td>
                    <td class="shedule__day">
                        П'ятниця
                    </td>
                </tr>
                    {% for lesson in lessons %}
                    <tr>
                        <td class="shedule__time">
                            <span>
                                {{forloop.counter}} пара <br>
                                {{forloop.counter|get_time}}
                            </span>
                            <span>
                            </span>
                        </td>
                        {% for info in lesson %}
                            {% if info and not info.empty %}
                                {% if info.days is not None %}
                                  <td class="shedule__subject hoverChange">
                                    <div class="shedule__type">
                                        <div class="shedule__subject--plus" style="opacity: 0; visibility: hidden; z-index: -4;">
                                            <div class="shedule__subject--mini" data-action="{% url 'lessons:create' %}" data-group="{{group.id}}" data-day="{{forloop.counter0}}" data-time="{{forloop.parentloop.counter|get_time_value}}">
                                                <img class="img-svg" src="{% static 'img/icon/plus.svg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="shedule__subject--info current">
                                            <div class="shedule__subject--nav">
                                                <span class="shedule__subject--room">
                                                    {{info.room}}
                                                </span>
                                                <div style="display: flex">
                                                    <span class="shedule__subject--type shedule__subject--week" style="display: none">{{info.get_mode}}</span>
                                                    <span class="shedule__subject--type">{{info.get_type}}</span>
                                                </div>
                                            </div>
                                            <div class="shedule__subject--wrap">
                                                <div class="shedule__subject--name">
                                                    {{info.subject}}
                                                </div>
                                                <div class="shedule__subject--teach">
                                                    {{info.teacher.get_full_name}}<br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shedule__type shedule__hide">
                                        <div class="shedule__subject--info current">
                                            <div class="shedule__subject--nav">
                                                <span class="shedule__subject--room">
                                                    {{info.room}}
                                                </span>
                                                <div style="display: flex">
                                                    <span class="shedule__subject--type shedule__subject--week" style="display: none">{{info.get_mode}}</span>
                                                    <span class="shedule__subject--type">{{info.get_type}}</span>
                                                </div>
                                            </div>
                                            <div class="shedule__subject--wrap">
                                                <div class="shedule__subject--name">
                                                    {{info.subject}}
                                                </div>
                                                <div class="shedule__subject--teach">
                                                    {{info.teacher.get_full_name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                {% else %}
                                    {% for day, lessons in info.items %}
                                        {% if lessons|length > 1 %}
                                            <td class="shedule__subject">
                                            {% for less_info in lessons %}
                                                    <div class="shedule__type shedule__mini hoverChange">
                                                        <div class="shedule__subject--info current" style="opacity: 1; visibility: visible; z-index: 4;">
                                                            <div class="shedule__subject--nav">
                                                                <span class="shedule__subject--room">{{less_info.room}}</span>
                                                                <div style="display: flex">
                                                                    <span class="shedule__subject--type">{{less_info.get_mode}}</span>
                                                                    <span class="shedule__subject--type">{{less_info.get_type}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="shedule__subject--wrap">
                                                                <div class="shedule__subject--name">{{less_info.subject}}</div>
                                                                <div class="shedule__subject--teach">{{less_info.teacher}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            {% endfor %}
                                            </td>
                                        {% elif lessons|length > 0 %}
                                            {% for less_info in lessons %}
                                                <td class="shedule__subject">
                                                     <div class="shedule__type shedule__mini hoverChange">
                                                        <div class="shedule__subject--info current" style="opacity: 1; visibility: visible; z-index: 4;">
                                                            <div class="shedule__subject--nav">
                                                                <span class="shedule__subject--room">{{less_info.room}}</span>
                                                                <div style="display: flex">
                                                                    <span class="shedule__subject--type">{{less_info.get_mode}}</span>
                                                                    <span class="shedule__subject--type">{{less_info.get_type}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="shedule__subject--wrap">
                                                                <div class="shedule__subject--name">{{less_info.subject}}</div>
                                                                <div class="shedule__subject--teach">{{less_info.teacher}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="shedule__type shedule__mini">
                                                        <div class="shedule__subject--info" style="visibility: hidden; opacity: 0; z-index: -10;">
                                                            <div class="shedule__subject--nav">
                                                                <span class="shedule__subject--room">

                                                                </span>
                                                                <div style="display: flex">
                                                                    <span class="shedule__subject--type"></span>
                                                                    <span class="shedule__subject--type"></span>
                                                                </div>
                                                            </div>
                                                            <div class="shedule__subject--wrap">
                                                                <div class="shedule__subject--name">
                                                                </div>
                                                                <div class="shedule__subject--teach">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                   <td class="shedule__subject">
                                    <div class="shedule__type">
                                        <div class="shedule__subject--info">
                                            <div class="shedule__subject--nav">
                                                <span class="shedule__subject--room">
                                                    {{info.room}}
                                                </span>
                                                <div style="display: flex">
                                                    <span class="shedule__subject--type shedule__subject--week" style="display: none">{{info.get_mode}}</span>
                                                    <span class="shedule__subject--type">{{info.get_type}}</span>
                                                </div>
                                            </div>
                                            <div class="shedule__subject--wrap">
                                                <div class="shedule__subject--name">
                                                    {{info.subject}}
                                                </div>
                                                <div class="shedule__subject--teach">
                                                    {{info.teacher.get_full_name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shedule__type shedule__hide">
                                        <div class="shedule__subject--info">
                                            <div class="shedule__subject--nav">
                                                <span class="shedule__subject--room">
                                                    {{info.room}}
                                                </span>
                                                <div style="display: flex">
                                                    <span class="shedule__subject--type shedule__subject--week" style="display: none">{{info.get_mode}}</span>
                                                    <span class="shedule__subject--type">{{info.get_type}}</span>
                                                </div>
                                            </div>
                                            <div class="shedule__subject--wrap">
                                                <div class="shedule__subject--name">
                                                    {{info.subject}}
                                                </div>
                                                <div class="shedule__subject--teach">
                                                    {{info.teacher.get_full_name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
        </div>
        </div>
    </div>
{% endblock %}
