{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}


{% block menu %}
    {% include 'includes/sidebar.html' %}
{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
                <div class="shedule">
                    <div class="shedule__nav">
                        <div class="shedule__item">
                            <div class="shedule__item--semester">
                                Семестр: <span>2</span>
                            </div>
                                <div class="shedule__item--discipline">
                                    <span>
                                        Дисципліна:
                                    </span>
                                    <select class="" name="subject_name">
                                        {% for subject in subjects %}
                                            <option value="{{subject.uuid}}">
                                                {{subject}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="shedule__item--group">
                                    <span>
                                        Група:
                                    </span>
                                    <select class="" name="group_name">
                                        {% for group in groups %}
                                        <option value="{{group.uuid}}">
                                            {{group}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button class="shedule__item--btn shedule__item--openMarkBook">
                                    Відкрити
                                </button>
                            </form>
                        </div>

                        <a download="" href="#" class="shedule__download">
                            <img src="{% static 'img/icon/floppy-disk.svg' %}" class="floppy-disk" alt="">
                            <span>Завантажити журнал</span>
                        </a>
                    </div>

                    <div class="journal__table">
                        <table>
                            <tr>
                                <th rowspan="3" class="journal__text journal__title">ПІБ</th>
                                <th colspan="35" class="journal__subtitle">
                                    Тиждень
                                </th>
                            </tr>
                            <tr>
                                {% for week, week_colspan in colspan_weeks %}
                                    <th colspan="{{week_colspan}}" class="journal__week">
                                        {{week}}
                                    </th>
                                {% endfor %}
                                <th colspan="1" rowspan="2" class="journal__week journal__result">
                                    З
                                </th>
                            </tr>
                           {% for week in ''|get_range:group.semester_weeks %}
                                    {% for lesson in lessons %}
                                        {% if lesson.mode == 0 %}
                                            <td  class="journal__day">
                                                {{lesson.get_short_type}}.
                                            </td>
                                        {% elif lesson.mode == 1 and week|add:1|divisibleby:"2" %}
                                            <td  class="journal__day">
                                                {{lesson.get_short_type}}.
                                            </td>
                                        {% elif lesson.mode == 2 and not week|add:1|divisibleby:"2" %}
                                            <td  class="journal__day">
                                                {{lesson.get_short_type}}.
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                            {% endfor %}
                            {% for student in students %}
                                <tr class="marks">
                                    <td class="journal__subject">
                                        <span>
                                           {{student.user__last_name}} {{student.user__first_name}}
                                        </span>
                                    </td>
                                    {% with res_point=0 %}
                                    {% for student_mark in marks %}
                                        {% if student_mark.student == student.user %}
                                            <td class="journal__mark">
                                                <input type="text" value="{% if student_mark.points %}{{student_mark.points}}{% endif %}" name="points" data-id="{{student.id}}" data-mark="{{student_mark.id}}" data-action="{% url 'lessons:mark_update' mark_id=student_mark.id %}">
                                            </td>
                                        {% endif %}
                                    {% endfor%}
                                    <td class="journal__result">
                                        {{res_point}}
                                    </td>
                                    {% endwith %}
                                </tr>
                            {% endfor %}
                        </table>
                        <div class="settings__save">
                            <button class="settings__btn" type="submit">
                                <img class="img-svg" src="{% static 'img/icon/floppy-disk.svg' %}" alt="">
                                Зберегти
                            </button>
                        </div>
                    </div>
                </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/select-journal.js' %}"></script>
    <script src="{% static 'js/journal-points-send.js' %}"></script>
{% endblock %}
