{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}


{% block menu %}
    {% include 'includes/sidebar.html' %}
{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
                <div class="shedule">
                    <div class="shedule__nav">
                        <div class="shedule__item">
                            <div class="shedule__item--semester">
                                Семестр: <span>2</span>
                            </div>
                                <div class="shedule__item--discipline">
                                    <span>
                                        Дисципліна:
                                    </span>
                                    <select class="">
                                        {% for subject in subjects %}
                                            <option value="{{subject.uuid}}" {% if forloop.counter == 1 %}selected{% endif %}>
                                                {{subject}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="shedule__item--group">
                                    <span>
                                        Група:
                                    </span>
                                    <select class="">
                                        {% for group in groups %}
                                        <option value="{{group.uuid}}" {% if forloop.counter == 1 %}selected{% endif %}>
                                            {{group}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button class="shedule__item--btn shedule__item--openMarkBook">
                                    Відкрити
                                </button>
                            </form>
                        </div>

                        <a download="" href="#" class="shedule__download">
                            <img src="{% static 'img/icon/floppy-disk.svg' %}" class="floppy-disk" alt="">
                            <span>Завантажити журнал</span>
                        </a>
                    </div>

                    <div class="journal__table">
                        <table>
                            <tr>
                                <th rowspan="3" class="journal__text journal__title">ПІБ</th>
                                <th colspan="35" class="journal__subtitle">
                                    Тиждень
                                </th>
                            </tr>
                            <tr>
                                <th colspan="2" class="journal__week">
                                    1
                                </th>
                                <th colspan="2" class="journal__week">
                                    2
                                </th>
                                <th colspan="2" class="journal__week">
                                    3
                                </th>
                                <th colspan="2" class="journal__week">
                                    4
                                </th>
                                <th colspan="2" class="journal__week">
                                    5
                                </th>
                                <th colspan="2" class="journal__week">
                                    6
                                </th>
                                <th colspan="2" class="journal__week">
                                    7
                                </th>
                                <th colspan="2" class="journal__week">
                                    8
                                </th>
                                <th colspan="2" class="journal__week journal__modul">
                                    М1
                                </th>
                                <th colspan="2" class="journal__week">
                                    9
                                </th>
                                <th colspan="2" class="journal__week">
                                    10
                                </th>
                                <th colspan="2" class="journal__week">
                                    11
                                </th>
                                <th colspan="2" class="journal__week">
                                    12
                                </th>
                                <th colspan="2" class="journal__week">
                                    13
                                </th>
                                <th colspan="2" class="journal__week">
                                    14
                                </th>
                                <th colspan="2" class="journal__week">
                                    15
                                </th>
                                <th colspan="2" class="journal__week journal__modul">
                                    М2
                                </th>
                                <th colspan="2" class="journal__week journal__result">
                                    З
                                </th>
                            </tr>
                                <td  class="journal__day">
                                    Лек.
                                </td>
                                <td class="journal__day">
                                    Пр.
                                </td>
                                <td colspan="" class="journal__day">
                                    Лек.
                                </td>
                                <td class="journal__day">
                                    Пр.
                                </td>
                                <td class="journal__day">
                                    Лек.
                                </td>
                                <td class="journal__day">
                                    Пр.
                                </td>
                                <td  class="journal__day">
                                    Лек.
                                </td>
                                <td class="journal__day">
                                    Пр.
                                </td>
                                <td colspan="" class="journal__day">
                                    Лек.
                                </td>
                                <td class="journal__day">
                                    Пр.
                                </td>
                                <td class="journal__day">
                                    Лек.
                                </td>
                                <td class="journal__day">
                                    Пр.
                                </td>
                                <td  class="journal__day">
                                    Лек.
                                </td>
                                <td class="journal__day">
                                    Пр.
                                </td>
                                <td colspan="" class="journal__day">
                                    Лек.
                                </td>
                                <td class="journal__day">
                                    Пр.
                                </td>
                                <td class="journal__day journal__modul">
                                    
                                </td>
                                <td class="journal__day journal__modul">
                                    
                                </td>
                                <td  class="journal__day">
                                    Лек.
                                </td>
                                <td class="journal__day">
                                    Пр.
                                </td>
                                <td colspan="" class="journal__day">
                                    Лек.
                                </td>
                                <td class="journal__day">
                                    Пр.
                                </td>
                                <td class="journal__day">
                                    Лек.
                                </td>
                                <td class="journal__day">
                                    Пр.
                                </td>
                                <td  class="journal__day">
                                    Лек.
                                </td>
                                <td class="journal__day">
                                    Пр.
                                </td>
                                <td class="journal__day">
                                    Лек.
                                </td>
                                <td class="journal__day">
                                    Пр.
                                </td>
                                <td class="journal__day">
                                    Лек.
                                </td>
                                <td class="journal__day">
                                    Пр.
                                </td>
                                <td  class="journal__day">
                                    Лек.
                                </td>
                                <td class="journal__day">
                                    Пр.
                                </td>
                                <td class="journal__day journal__modul">
                                    
                                </td>
                                <td class="journal__day journal__modul">
                                    
                                </td>
                                <td class="journal__day journal__result">
                                </td>
                                
                            
                            <tr>
                                <td class="journal__subject journal__subject--teacher">
                                    <span>
                                        Погребняк О.С.
                                    </span>
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark journal__modul">
                                    <input type="text">
                                </td>
                                <td class="journal__mark journal__modul">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark">
                                    <input type="text">
                                </td>
                                <td class="journal__mark journal__modul">
                                    <input type="text">
                                </td>
                                <td class="journal__mark journal__modul">
                                    <input type="text">
                                </td>
                                <td class="journal__mark journal__result">
                                    <input type="text">
                                </td>
                            </tr>
                        </table>
                        <div class="settings__save">
                            <button class="settings__btn" type="submit">
                                <img class="img-svg" src="{% static 'img/icon/floppy-disk.svg' %}" alt="">
                                Зберегти
                            </button>
                        </div>
                    </div>
                </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/teacher-lesson-choose.js' %}"></script>
{% endblock %}