{% extends 'base.html' %}
{% load static %}
{% block content %}
       <section class="register">
            <div class="register__block">
                <form class="register__form" method="post">
                    {% csrf_token %}
                    <div class="register__title">
                        Вхід
                    </div>
                    {{form.errors}}
                    <div class="register__item">
                        {{form.username.errors}}
                        {{form.username}}
                        <span class="register__focus">
                        </span>
                        <span class="register__item--title">
                            Логін
                        </span>
                    </div>
                    <div class="register__item">
                        {{form.password.errors}}
                        {{form.password}}
                        <span class="register__focus">
                        </span>
                        <span class="register__item--title">
                            Пароль
                        </span>
                    </div>
                    <div class="register__nav">
                        <div class="register__check">
                            <input class="register__inpCheckbox" id="ckb1" type="checkbox" name="remember-me" value="False">
                            <label class="register__lblCheckbox" for="ckb1">
                                <img src="{% static 'img/icon//check.svg' %}" class="img-svg" alt="">
                                Запам'ятати мене
                            </label>
                        </div>
                        <div class="register__forgot">
                            <a href="{% url 'accounts:reset_password' %}">
                                Забули пароль?
                            </a>
                        </div>
                    </div>
                    <button type="submit" class="register__btn">
                        Увійти
                    </button>
                    <div class="register__text">
                        У Вас немає аккаунту? <a href="{% url 'accounts:registration' %}">Зареєструватися</a>
                    </div>
                </form>
                {% include 'includes/captcha.html' %}
            </div>
       </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/auth2.js' %}"></script>
{% endblock %}