{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="first-page__block">
            <img class="img-svg" src="{% static 'img/icon/first-svg.svg' %}" alt="">
            <h1 class="first-page__title">
                Вітаємо на сторінці нашої кафедри
            </h1>
            <h2 class="first-page__subtitle">
                Для початку користування усіма можливостями ресурсу, увійдіть у свій аккаунт
            </h2>
            <div class="first-page__buttons">
                <a class="first-page__btn" href="{% url 'accounts:login' %}">Увійти</a>
                <a class="first-page__btn" href="{% url 'accounts:registration' %}">Реєстрація</a>
            </div>
        </div>
    </div>
{% endblock %}