{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="reset">
  <h1 class="reset__title title">Посилання для відновлення паролю надіслано</h1>
  <img src="{% static 'img/icon/mail-box.svg' %}" class="reset__mailBox img-svg" alt="">

  <h3 class="reset__subtitle subtitle">
    Ми надіслали на вашу почтову скриньку інструкції для подальшого встановлення паролю. Перевірте будь-ласка свій e-mail, повідомлення вже чекає на вас!
  </h3>
  <h6 class="reset__text">Якщо ви не отримуєте електронного листа, переконайтесь, що ви ввели адресу, на яку зареєструвались, і перевірте папку зі спамом.</h6>
  <br/>
  <a class="reset__main" href="/">На головну</a>
</div>
{% endblock%}
