{% extends 'base.html' %}
{% load static %}

{% block content %}
       <section class="register">
            <div class="register__block">
                <form class="register__form" method="post">
                    <div class="register__title">
                        Реєстрація
                    </div>
                    {% csrf_token %}
                    {{form.errors}}
                    {{ form.username.errors }}
                    <div class="register__item">
                        {{form.username}}
                        <span class="register__focus">
                        </span>
                        <span class="register__item--title">
                            Логін
                        </span>
                    </div>
                    <div class="register__item">
                        {{form.first_name}}
                        <span class="register__focus">
                        </span>
                        <span class="register__item--title">
                            Ім'я
                        </span>
                    </div>
                    <div class="register__item">
                        {{form.last_name}}
                        <span class="register__focus">
                        </span>
                        <span class="register__item--title">
                            Прізвище
                        </span>
                    </div>
                    {{form.email.errors}}
                    <div class="register__item">
                        {{form.email}}
                        <span class="register__focus">
                        </span>
                        <span class="register__item--title">
                            E-mail
                        </span>
                    </div>
                    {{form.password1.errors}}
                    <div class="register__item">
                        {{form.password1}}
                        <span class="register__focus">
                        </span>
                        <span class="register__item--title">
                            Пароль
                        </span>
                    </div>
                    {{form.password2.errors}}
                    <div class="register__item">
                        {{form.password2}}
                        <span class="register__focus">
                        </span>
                        <span class="register__item--title">
                            Повторіть пароль
                        </span>
                    </div>
                    <button type="submit" class="register__btn">
                        Зареєструватися
                    </button>
                    <div class="register__text">
                        У Вас вже є аккаунт? <a href="{% url 'accounts:login' %}">Увійти</a>
                    </div>
                </form>
                {% include 'includes/captcha.html' %}
            </div>
       </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/auth2.js' %}"></script>
{% endblock %}