{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="reset">
  <h1 class="reset__title title">Ласкаво просимо на сторінку зміни паролю</h1>
  <img src="{% static 'img/icon/reset-quest.svg' %}" class="img-svg" alt="">

  <h3 class="reset__subtitle subtitle">
    Забули свій пароль? Введіть адресу електронної пошти, за якою ви реєструвались, і ми надішлемо вам посилання для зміни паролю
  </h3>
  <br/>

  <form action="" method="POST" class="reset__form">
    {% csrf_token %}
    {{form.email}}
    <input type="submit" class="reset__btn" value="Надіслати" /><br>
  </form><br/>
  <a class="reset__main" href="{% url 'index' %}">На головну</a>
</div>
{% endblock%}

