{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block menu %}
    {% include 'includes/sidebar.html' %}
{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
<div class="shedule">
    <h2 class="group__mainTitle">
        Викладачі кафедри
    </h2>
    <div class="group__teacher">
        <table class="group__table group__table--teacher">
            <tbody>
                <tr>
                    <td class="group__week group__week--teacher">ПІБ</td>
                    <td class="group__week group__week--teacher">Вчене звання</td>
                    <td class="group__week group__week--teacher">Номер телефону</td>
                    <td class="group__week group__week--teacher">Електронна пошта</td>
                </tr>
                {% for student in students %}
                    <tr>
                        <td class="group__teacher--info">{{student.user__last_name}} {{student.user__first_name}} {{student.user__surname}}</td>
                        <td class="group__teacher--info">Доцент</td>
                        <td class="group__teacher--info">{{student.user__phone_number}}</td>
                        <td class="group__teacher--info group__teacher--name">{{student.user__email}}<div class="group__teacher--delete" data-action="{% url 'students:delete' student_id=student.user__id %}"><img class="img-svg" src="{% static 'img/icon/delete.svg' %}" alt=""></div></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="group__buttons">
        <div class="group__buttons--add">
            Додати студента
        </div>
        <div class="group__buttons--delete">
            Видалити студента
        </div>
    </div>
    </div>
    <div class="shedule__modal shedule__teacher">
    <div class="shedule__modal--main">
        <div class="shedule__modal--close">
            <img class="img-svg" src="{% static 'img/icon/close.svg' %}" alt="">
        </div>
        <div class="shedule__modal--title">
            Додати нового студента
        </div>
        <div class="shedule__modal--block">
            <div class="shedule__modal--item">
                <label for="">Пошук:</label>
                <input class="userSearch" type="text" name="" id="" placeholder="" data-action="{% url 'accounts:list' %}">
            </div>
            <div class="search__block"></div>
        <div/>
        <div class="shedule__modal--cover"></div>
    </div>

    <div class="shedule__modal--check">
        <svg viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
            <path d="M 18 32.34 l -8.34 -8.34 -2.83 2.83 11.17 11.17 24 -24 -2.83 -2.83 z" stroke="#fff" fill="transparent"/>
        </svg>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script>
        var plus_src = "{% static 'img/icon/plusImg.png' %}"
    </script>
    <script src="{% static 'js/teacher-admin.js' %}"></script>
    <script src="{% static 'js/ajax-search-users.js' %}"></script>
    <script src="{% static 'js/user-update.js' %}"></script>
{% endblock %}