{% extends 'base.html' %}
{% load static %}

{% block menu %}
    {% include 'includes/sidebar.html' %}
{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
    <div class="consultation">
        <div class="consultation__block">
            <img src="{% static 'img/icon/cons.svg' %}" class="img-svg">
            <div class="consultation__title">
                Даний розділ знаходиться в розробці
            </div>
        </div>
    </div>
{% endblock %}