.main
    height: 100%
    display: flex
    width: 100%
    background: url('../img/main-bg.jpg') center center/cover no-repeat
    overflow: hidden
.content
    overflow-y: scroll
    width: 100%
    transition: .3s
.first-page
    &__block
        background: #fff
        border-radius: 3px
        height: 530px   
        width: 450px
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        padding: 20px
    &__title
        font-size: 30px
        text-align: center
        width: 80%
        margin: 0 auto
        line-height: 38px
        margin-top: 20px
        font-family: MontserratMedium
    &__subtitle
        font-size: 15px
        text-align: center
        margin-top: 20px
    &__buttons
        display: flex
        justify-content: space-between
    &__btn
        border: none
        width: 100%    
        color: #fff 
        text-transform: uppercase
        padding: 14px 28px
        border-radius: 10px
        margin-top: 10px
        background: #57b846
        transition: .3s
        margin: 0 auto
        margin-top: 15px
        display: block
        width: 160px
        text-align: center
        &:disabled
            background: rgba(87, 184, 70, .6)
        &:hover
            box-shadow: 3px 3px 6px 2px rgba(87, 184, 70, .4)
            color: #fff
.menu
    display: flex
    flex-direction: column
    width: 330px
    //background: linear-gradient(220deg, #020059, #4513a8)
    background: rgba(0,0,0,0)
    padding: 14px 0 20px 0
    color: #fff
    height: 100vh
    position: fixed
    transition: .3s
    &__title
        font-size: 18px
        padding: 0 20px
        text-align: center
    &__logo
        display: none
        width: 55px
        margin: 0 auto
    &__list
        padding: 0
        margin-top: 30px
    &__item
        display: block
        padding: 1rem 0
        margin: 16px 0
        color: #fff 
        margin-left: 25px
        svg
            width: 26px
            height: 26px
            fill: #fff
            margin-left: 20px
        &:hover
            background: #fff
            color: #020059
            border-radius: 30px 0 0 30px
            svg
                fill: #020059 !important
        &--active
            background: #fff
            color: #020059
            fill: #020059 
            border-radius: 30px 0 0 30px
            svg
                fill: #020059 
        span
            font-size: 16px
            margin-left: 8px
    &__close 
        display: none
.mob-br
    display: none
.header
    display: flex
    justify-content: space-between
    padding: 0 25px
    height: 65px
    width: 100%
    align-items: center
    background: #fff
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .3)
    position: relative
    z-index: 10
    &__tabHide
        &:hover
            cursor: pointer
        svg
            width: 20px
            transform: rotate(180deg)
            fill: #000
    &__option
        position: absolute
        top: 62px
        right: 10px
        background: #fff
        display: flex
        flex-direction: column
        padding: 10px 14px
        box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, .4)
        z-index: -2
        opacity: 0
        visibility: hidden
        transition: .3s ease-in-out
        &:hover
            z-index: -2
            opacity: 0
            visibility: hidden
        &--item
            padding: 8px 0
            color: #000
            align-items: center
            font-size: 16px
            display: flex
            a
                display: block
                color: #000
            form
                display: block
                width: max-content
                button
                    border: none
                    background: transparent
            svg
                width: 18px 
                height: 18px
                fill: #000
                margin-right: 6px
    &__menu
        display: none
    &__cath
        font-size: 18px
    &__profile
        display: flex
    &__name
        font-size: 18px
        text-align: right
        a
            color: #000
    &__group
        color: #808080
        font-size: 14px
        text-align: right
    &__icon
        margin-left: 10px
        cursor: pointer
        img
            width: 50px
            height: 50px
            border-radius: 50%
            object-fit: cover

.shedule
    display: flex
    flex-direction: column
    padding: 20px 30px
    background: #fff
    height: auto
    min-height: calc(100% - 65px)
    position: relative
    &-table
        width: 100%
    .clone
        display: none
    &__item
        display: flex
        align-items: center
        &--discipline
            margin-left: 30px
            display: flex
            align-items: center
            span
                margin-right: 6px
                font-size: 18px
        &--semester
            font-size: 18px
            span
                font-size: 20px
        &--group
            margin-left: 20px
            font-size: 18px
            display: flex
            align-items: center
            span
                margin-right: 6px
                font-size: 18px
        &--btn
            text-transform: uppercase
            display: flex
            align-items: center
            margin-left: auto
            border: none
            background: #57b846
            padding: 8px 12px
            font-size: 12px
            color: #fff
            transition: .3s
            cursor: pointer
            border-radius: 10px
            margin-top: 0
            margin-left: 20px
    &__nav
        display: flex
        justify-content: space-between
        align-items: center
    
    &__download
        display: flex
        padding: 9px 20px 
        border: 1px solid #BDBDBD
        border-radius: 10px
        cursor: pointer
        color: #000
        img
            margin-right: 6px
    &__table
        margin-top: 10px
        tr, td, th
            border: 1px solid #000
        
    &__time
        font-size: 30px
        width: 10%
        height: 140px
        align-items: center
        text-align: center
        vertical-align: middle
        span
            font-size: 26px
            display: block
            font-family: MontserratMedium
    &__day
        width: 250px
        height: 35px
        font-size: 15px
        text-align: center
        font-family: MontserratBold
    &__title
        font-size: 22px
        font-family: MontserratBold
    &__subtitle
        font-size: 20px
        text-align: center
        height: 35px
        font-family: MontserratBold
    &__text
        text-align: center
    &__groupName
        font-size: 20px
        font-family: 'MontserratMedium'
    &__subject
        width: 16%
        height: 200px
        text-align: center
        position: relative
        font-size: 16px
        font-weight: 600
        vertical-align: top
        .shedule__mini:first-child
            border-bottom: 1px solid #000
        &--info
            opacity: 0
            z-index: -2
            padding: 0 16px
            padding-top: 6px
            position: relative
            height: 100%
        &--name
            margin-top: 12px
            font-size: 17px
            width: 100%
        &--wrap
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            display: flex
            flex-direction: column
            width: 100%
        &--flexed
            display: flex
            flex-direction: column
        &--change
            position: absolute
            width: 100%
            height: 100%
            left: 0
            top: 0
            z-index: 2
            background: rgba(0, 0, 0, .4)
            visibility: hidden
            z-index: -2
            opacity: 0
            
            &:hover
                visibility: visible
                opacity: 1
                z-index: 10  
        &--changeBlock
            display: flex
            width: 100px
            position: absolute
            justify-content: space-between
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
        &--delete
            padding: 7px
            border-radius: 20%
            background: #dc3545 !important
            svg
                fill: #fff
                width: 25px
                height: 25px
                cursor: pointer
        &--edit
            background: #fff
            padding: 7px
            border-radius: 20%
            svg
                width: 25px
                height: 25px
                cursor: pointer
        &--type
            font-family: MontserratLight
            font-size: 12px
            background: #fff    
            box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .27)
            padding: 3px 8px
            border-radius: 4px
        &--teach
            font-size: 12px
            margin-top: 6px
            font-weight: 400
        &--nav
            margin-top: 6px
            display: flex
            justify-content: space-between
            width: 100%
            align-items: center
            width: 100%
            margin-bottom: auto
            top: 6px
        &--room
            font-size: 12px
            padding: 2px 6px
            border: 1px solid #BDBDBD
            background: #5548e6
            color: #fff
            border-radius: 4px
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .2)
        &--plus
            position: absolute
            width: 100%
            height: 100%
            left: 0
            z-index: 2
            &:hover
                svg
                    opacity: 1
            svg
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                width: 40px
                height: 40px
                background: rgba(0, 0, 0, .15)
                border-radius: 50%
                padding: 9px
                cursor: pointer
                opacity: 0
                transition: .3s ease-in-out
    &__type
        height: 100%
        position: relative
    &__mini
        height: 50%
        position: relative
        .shedule__subject--type
            margin-left: 6px
        .shedule__subject--type,
        .shedule__subject--room
            font-size: 10px
            padding: 2px 6px
        .shedule__subject--info
            padding-top: 6px
            padding-bottom: 6px
            display: flex
            flex-direction: column
        .shedule__subject--nav
            margin-top: 0
        .shedule__subject--name
            font-size: 13px
            margin-top: 10px
        .shedule__subject--teach
            font-size: 10px
            display: flex
            justify-content: space-around
            margin-top: 6px
    &__modal
        background: rgba(0, 0, 0, .4)
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 100%
        height: 100%
        visibility: hidden
        opacity: 0
        z-index: -2
        transition: .3s ease-in-out
        &--main
            position: absolute
            background: #fff    
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 400px
            height: auto
            padding: 20px
            border-radius: 3px
        &--error
            line-height: 120%
            color: #e80000
            margin-bottom: 20px
            width: 100%
            display: none
        &--cover
            position: absolute
            background: rgba(0, 0, 0, .4)   
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 400px
            height: 100%
            padding: 20px
            border-radius: 3px
            z-index: -1
            opacity: 0
            visibility: hidden
        &--title
            text-align: center
            font-size: 24px
        &--block
            display: flex
            flex-direction: column
            margin-top: 20px
            width: 100%
            position: relative
        &--item
            display: flex
            flex-direction: column
            width: 100%
            margin-bottom: 20px
            input
                width: 100%
                background: transparent
                font-size: 16px
                color: #555555
                line-height: 1.2
                border: 1px solid #6059B6
                border-radius: 8px
                padding: 7px 15px 7px 10px
                height: 36px
        &--discipline
            display: flex
            flex-direction: column
            span
                margin-right: 6px
                font-size: 16px
                margin-bottom: 8px
        &--close
            position: absolute
            top: -14px 
            right: -14px
            width: 40px
            height: 40px
            background: rgba(0, 0, 0, .8)
            border-radius: 50%
            cursor: pointer
            z-index: 1000
            svg
                width: 17px
                height: 17px
                position: absolute
                left: 50%
                top: 50%
                transform: translate(-50%, -50%)
                fill: #fff
        &--btn
            border: none
            width: 250px   
            color: #fff 
            text-transform: uppercase
            padding: 12px 20px
            border-radius: 10px
            margin: 0 auto
            font-size: 15px
            background: #57b846
            transition: .3s
            &:disabled
                background: rgba(87, 184, 70, .6)
            &:hover
                box-shadow: 3px 3px 6px 2px rgba(87, 184, 70, .4)
        &--check
            position: absolute
            top: 50%
            left: 50%
            width: 100px
            height: 100px
            transform: translate(-50%, -50%)
            z-index: -2
            path
                stroke-dasharray: 99.47578430175781
                stroke-dashoffset: -99.47578430175781
                fill: transparent
            svg.animate path 
                animation: 1.7s ease forwards draw !important
                opacity: 1 !important
                z-index: 1000 !important
    &__delete
        background: rgba(0, 0, 0, .4)
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 100%
        height: 100%
        visibility: hidden
        opacity: 0
        z-index: -2
        transition: .3s ease-in-out
        &--buttons
            display: flex
            margin-top: 20px
        &--yes
            border: none
            width: 30%
            color: #fff 
            text-transform: uppercase
            padding: 12px 20px
            border-radius: 10px
            margin: 0 auto
            font-size: 14px
            background: #57b846
            transition: .3s
            text-align: center
            cursor: pointer
        &--no
            border: none
            width: 30%
            color: #fff 
            text-transform: uppercase
            padding: 12px 20px
            border-radius: 10px
            margin: 0 auto
            font-size: 14px
            background: red
            transition: .3s
            text-align: center
            cursor: pointer
@keyframes draw 
  0% 
    opacity: 1
    stroke-dashoffset: -99.47578430175781
    fill: transparent
    transform: translateY(0)
  35% 
    stroke-dashoffset: 0
    fill: transparent
  60% 
    fill: #fff
    opacity: 1
    transform: translateY(0)
  100% 
    fill: #fff
    stroke-dashoffset: 0
    opacity: 0
    transform: translateY(-10px)

.journal
    display: flex
    flex-direction: column
    margin-top: 14px
    padding: 20px 25px
    &__result
        background: #5FB004
        color: #fff
        text-align: center
        input
            background: #5FB004
            color: #fff
    &__table
        margin-top: 20px
        &::scrollbar-track
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
            border-radius: 8px
            background-color: #F5F5F5
            bordrer: 13px solid rgba(0, 0, 0, 1)
        &::-webkit-scrollbar
            width: 8px
            height: 8px
            background-color: #F5F5F5
            bordrer: 13px solid rgba(0, 0, 0, 1) !important
        &::-webkit-scrollbar-thumb
            border-radius: 10px
            background-color: rgba(22, 6, 113, .8)
            bordrer: 13px solid rgba(0, 0, 0, 1)
    
        tr, td, th
            border: 1px solid #000
    &__modul
        background: #6059B6
        color: #fff 
        input
            background: #6059B6
            color: #fff 
    &__mark
        text-align: center
        padding: 0
        min-width: 38px
        input
            width: 100%
            height: 100%
            border: none
            text-align: center
    &__time
        font-size: 30px
        width: 250px
        height: 140px
        align-items: center
        text-align: center
        vertical-align: middle
        span
            font-size: 26px
            display: block
    &__week
        width: 76px
        height: 35px
        text-align: center
    &__day
        width: 38px
        text-align: center
    &__title
        font-size: 20px
        font-family: MontserratMedium
    &__subtitle
        font-size: 18px
        text-align: center
        height: 35px
        font-family: MontserratMedium
    &__text
        text-align: center
    &__f
        width: 20px
    &__subject
        width: 200px
        height: 70px
        text-align: left
        position: relative
        padding: 0 16px
        font-size: 15px
        font-weight: 600
        &--teacher
            height: 35px
        span
            font-family: MontserratLight

.settings
    background: #fff
    padding: 30px 25px 20px 25px
    min-height: calc(100% - 65px)
    position: relative
    &__title
        font-weight: 600
        font-size: 18px
        font-family: MontserratMedium
    &__block
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 40px 40px
        margin-top: 20px
        margin-bottom: 40px
    &__item
        width: 100%
        &--title
            border-bottom: 1px dashed rgba(0,0,0,.5)
            width: 100%
            margin-bottom: 20px
            padding-bottom: 6px
            font-family: MontserratMedium
    &__save
        position: absolute
        bottom: 20px
        left: 20px
        margin-right: 20px
        width: calc( 100% - 40px )
        border-top: 1px solid rgba(0,0,0,.5)
        padding-top: 10px
    &__btn
        text-transform: uppercase        
        display: flex
        align-items: center
        margin-left: auto
        border: none
        background: #57b846
        padding: 13px 20px
        font-size: 12px
        color: #fff
        transition: .3s 
        cursor: pointer
        border-radius: 10px
        margin-top: 10px
        &:hover
            box-shadow: 2px 2px 3px 1px rgba(87, 184, 70, .4)
            transform: translateY(-3px)
        svg
            margin-right: 6px
            width: 16px
            path
                fill: #fff
    .change
        display: grid
        grid-template-columns: 1fr
        grid-gap: 8px 0
        &__image
            
            position: relative
        &__photo
            width: 180px
            height: 180px
            border-radius: 50%
            object-fit: cover
            margin-bottom: 10px
        &__delete
            position: absolute
            cursor: pointer
            width: 30px 
            height: 30px
            top: 0
            right: 15px
            background: #dc3545
            padding: 7px
            border-radius: 20%
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .4)
            path
                border-radius: 20%
                fill: #fff
                
                
        &__edit
            position: absolute
            cursor: pointer
            background: #fff url('../img/icon/edit.svg') center center/cover no-repeat
            background-size: 17px 17px
            width: 30px !important
            height: 30px !important
            bottom: 10px
            right: 15px
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .4)
            padding: 7px
            border-radius: 20%
            text-indent: -9999px
        &__item
            display: flex
            justify-content: space-between
            align-items: center
            label
                font-weight: 600
                font-size: 14px
                font-family: MontserratLight
            input
                width: 300px
                background: 
                padding: 6px 12px
                font-size: 14px
                
                border: 1px solid rgba(0, 0, 0, .2)
                &:read-only
                    background-color: #eee
        &__text
            font-size: 14px
        &__select
            option
                padding: 4px 10px
.group
    &__table
        margin-top: 20px
        height: auto
        width: 100%
        tr, td, th
            border: 1px solid #000 
    &__mark
        text-align: center
    &__old
        font-weight: 700
    &__time
        font-size: 30px
        width: 250px
        height: 140px
        align-items: center
        text-align: center
        vertical-align: middle
        span
            font-size: 26px
            display: block
    &__week
        height: 35px
        text-align: center
        &--teacher
            font-size: 16px
            font-family: MontserratBold
            white-space: nowrap
            padding: 0 20px
    &__day
        width: 38px
        text-align: center
    &__title
        font-size: 18px
        width: 500px
    &__mainTitle
        font-size: 24px
        text-align: center
        font-family: MontserratMedium
    &__subtitle
        padding: 0 10px
        font-size: 14px
        text-align: center
        height: 35px
    &__mainSubtitle
        font-size: 16px
        text-align: center
        font-family: MontserratLight
    &__text
        text-align: center
    &__f
        width: 20px
    &__subject
        width: 200px
        height: 70px
        text-align: left
        position: relative
        padding: 0 16px
        font-size: 16px
        font-weight: 600
    &__teacher,
    &__student
        height: 700px
        overflow-y: scroll
        tr, td, th
            border: 1px solid #000 
        tr
            &:hover
                cursor: pointer
                background: rgba(0, 0, 0, .1)
                &:nth-child(1)
                    background: #fff
                .group__teacher--delete
                    opacity: 1
                    z-index: 100
        &--info
            padding: 6px 20px
            text-align: center
            font-size: 15px
            a
                color: #000
        &--name
            position: relative
        &--delete
            background: red
            cursor: pointer
            position: absolute
            width: 35px
            height: 100%
            right: 0
            top: 0
            opacity: 0
            z-index: -2
            transition: .3s
            svg
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                width: 15px
                height: 15px
                fill: #fff
    &__buttons
        display: flex
        margin-left: auto
        margin-top: 10px
        &--add
            border: none
            width: auto
            color: #fff 
            text-transform: uppercase
            padding: 13px 20px
            border-radius: 10px
            margin-top: 10px
            background: #57b846
            transition: .3s
            font-size: 12px
            cursor: pointer
            &:hover
                box-shadow: 2px 2px 3px 1px rgba(87, 184, 70, .4)
        &--delete
            border: none
            width: auto
            color: #fff 
            text-transform: uppercase
            padding: 13px 20px
            border-radius: 10px
            margin-top: 10px
            background-color: red
            transition: .3s
            font-size: 12px
            cursor: pointer
            margin-left: 20px
            &:hover
                box-shadow: 2px 2px 3px 1px rgba(255, 0, 0, .4)
                

.register
    height: 100vh
    width: 100%
    background: url('../img/bg/reg-bg.jpg')
    position: relative
    &__block
        width: 560px
        height: 100vh
        background: #fff
        position: fixed
        right: 0
    &__title
        font-size: 24px
        text-align: center
        margin-bottom: 20px
        text-transform: uppercase
    &__form
        display: flex
        flex-direction: column
        margin: 0 auto
        width: 450px
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    &__item
        display: flex
        flex-wrap: wrap
        align-items: flex-end
        width: 100%
        height: 60px
        position: relative
        border: 1px solid #c0c0c0
        border-radius: 10px
        margin-bottom: 10px
        &--title
            font-family: Montserrat-Regular
            font-size: 16px
            color: #999999
            line-height: 1.2
            display: block
            position: absolute
            pointer-events: none
            width: 100%
            padding-left: 24px
            left: 0
            top: 18px
            transition: all 0.4s
    &__input
        display: block
        width: 100%
        background: transparent
        font-family: Montserrat-Regular
        font-size: 16px
        color: #555555
        line-height: 1.2
        padding: 0 26px
        height: 60px
        border-radius: 60px
        border: none
        &:focus + .register__focus 
            visibility: visible
            opacity: 1
            transform: scale(1)
        &:focus
            height: 40px
        &:focus + .register__focus + .register__item--title 
            top:  8px
            font-size: 12px
        
    &__focus
        position: absolute
        display: block
        width: calc(100% + 2px)
        height: calc(100% + 2px)
        top: -1px
        left: -1px
        pointer-events: none
        border-radius: 10px
        border: 1px solid #6675df
        visibility: hidden
        opacity: 0
        transition: all 0.4s
        transform: scaleX(1.1) scaleY(1.3)
    &__btn
        border: none
        width: 100%    
        color: #fff 
        text-transform: uppercase
        padding: 16px 20px
        border-radius: 10px
        margin-top: 10px
        background: #57b846
        transition: .3s
        &:disabled
            background: rgba(87, 184, 70, .6)
        &:hover
            box-shadow: 3px 3px 6px 2px rgba(87, 184, 70, .4)
    &__text
        text-align: center
        margin-top: 40px
        a
            color: #6675df
            &:hover
                color: #6675df
    &__nav
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 10px 
    &__forgot
        a
            font-size: 14px
            line-height: 1.4
            color: #999999
            &:hover
                color: #6675df
    &__inpCheckbox
        display: none
        &:checked +
            .register__lblCheckbox
                svg
                    fill: #000
    &__check
        display: flex
        align-items: center

    &__lblCheckbox
        font-size: 14px
        color: #999999
        line-height: 1.4
        display: block
        position: relative
        cursor: pointer
        display: flex
        margin-bottom: 0
        svg
            margin-right: 6px
            color: transparent
            display: flex
            justify-content: center
            align-items: center
            padding: 3px
            width: 20px
            height: 20px
            border-radius: 2px
            background: #fff
            border: 1px solid #6675df
            fill: #fff
.has-val
    height: 40px !important
.has-val + .register__focus + .register__item--title 
    top: 8px
    font-size: 12px
.profile
    background: #fff
    margin: 20px
    padding: 20px 25px
    height: calc(100vh - 110px)
    &__title
        font-weight: 600
        font-size: 18px
    &__block
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 40px 40px
        margin-top: 20px
        margin-bottom: 40px
    &__item
        width: 100%
        &--title
            border-bottom: 1px dashed rgba(0,0,0,.5)
            width: 100%
            margin-bottom: 20px
            padding-bottom: 6px
    &__save
        width: 100%
        border-top: 1px solid rgba(0,0,0,.5)
        padding-top: 20px
    &__btn
        display: flex
        align-items: center
        margin-left: auto
        border: 1px solid #5548e6
        background: #5548e6
        padding: 6px 20px
        font-size: 16px
        color: #fff
        transition: .3s 
        box-shadow: 2px 2px 10px 1px rgba(85, 72, 230, .6)
        &:hover
            transform: translateY(-3px)
        svg
            margin-right: 6px
            path
                fill: #fff
    .change
        display: grid
        grid-template-columns: 1fr
        grid-gap: 8px 0
        &__image
            position: relative
        &__block
            display: flex
            flex-direction: column
            margin-left: 20px
        &__photo
            width: 300px
            height: 300px
            object-fit: cover
            margin-bottom: 10px
        &__delete
            position: absolute
            cursor: pointer
            width: 30px 
            height: 30px
            top: 0
            right: 15px
            background: #dc3545
            padding: 7px
            border-radius: 20%
            path
                border-radius: 20%
                fill: #fff
        &__edit
            position: absolute
            cursor: pointer
            width: 30px 
            height: 30px
            bottom: 10px
            right: 15px
            background: #fff
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .4)
            padding: 7px
            border-radius: 20%
            path
                border-radius: 20%
                fill: #000
        &__item
            display: flex
            align-items: center
            margin-bottom: 14px
            label
                font-weight: 600
                font-size: 16px
                margin-bottom: 0
            span
                font-size: 16px
                display: block
                line-height: 100%
                margin-left: 6px
        &__text
            font-size: 16px
        &__select
            option
                padding: 4px 10px
    &__table
        margin-top: 20px
        height: 100%
        tr, td, th
            border: 1px solid #000
        &--title
            font-size: 18px
    &__mark
        text-align: center
        padding: 0
        font-size: 18px
        input
            width: 100%
            height: 100%
            border: none
            text-align: center
    &__week
        width: 76px
        height: 35px
        text-align: center
    &__text
        text-align: center
    &__subject
        width: 200px
        height: 70px
        text-align: left
        position: relative
        padding: 0 16px
        font-size: 16px
        font-weight: 600
        &--teacher
            height: 35px
.reset
    width: 600px
    background: #fff
    border-radius: 10px
    box-shadow: 4px 6px 4px 5px rgba(0, 0, 0, .4)
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    padding: 40px 50px
    &__mailBox
        width: 320px
        margin: 0 auto
        display: block
    &__pass
        width: 100%
    &__title
        text-align: center
        font-size: 32px
        line-height: 120%
        margin-bottom: 30px
    &__subtitle
        font-size: 18px
        line-height: 120%
        margin-top: 30px
        &--new
            text-align: center
    &__form
        display: flex
        width: 100%
        margin: 0 auto
        justify-content: space-between
    &__text
        margin-top: 20px
    &__input
        display: block
        width: 100%
        background: transparent
        font-size: 16px
        color: #555555
        line-height: 1.2
        padding: 0 14px
        height: 40px
        border-radius: 10px
        border: 1px solid #c0c0c0
        margin-right: 20px
        &--new
            margin-bottom: 10px
    &__new
        width: 80%
        margin: 0 auto
        flex-direction: column
        margin-top: 20px
    &__btn
        border: none
        width: max-content
        height: 40px
        color: #fff 
        text-transform: uppercase
        padding: 12px 20px
        border-radius: 10px
        background: #57b846
        font-size: 14px
        transition: .3s
        line-height: 100%
        cursor: pointer
        position: relative
        &--new
            margin: 0 auto
            margin-bottom: 0
    &__main
        margin: 0 auto
        width: max-content
        display: block
        color: #000
        border: 1px solid #000
        padding: 4px 10px 
        border-radius: 4px
        transition: .3s ease-in-out
        &:hover
            color: #fff
            background: #000
.captcha
    position: absolute
    top: 0
    width: 100%
    height: 100vh
    background: rgba(0, 0, 0, .7)
    visibility: hidden
    opacity: 0
    z-index: -10
    transition: .3s
    &__block
        
    &__title
        font-size: 16px 
        text-align: center
        text-transform: uppercase
        margin-bottom: 10px
    &__canvas
        text-align: center
    &__item
        display: flex
        flex-direction: row
        justify-content: space-between
        input
            display: block
            width: 200px
            background: transparent
            font-family: Montserrat-Regular
            font-size: 16px
            color: #555555
            line-height: 1.2
            padding: 0 14px
            height: 40px
            border-radius: 10px
            border: 1px solid #c0c0c0
    &__alert
        font-size: 12px
        color: red
        line-height: 12px
        display: none
    &__btn
        border: none
        width: 40px   
        height: 40px
        color: #fff 
        text-transform: uppercase
        padding: 12px 20px
        border-radius: 10px
        background: #57b846
        font-size: 14px
        transition: .3s
        cursor: pointer
        position: relative
        svg
            width: 16px 
            height: 16px
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            fill: #fff
        &:hover
            box-shadow: 1px 1px 2px 1px rgba(87, 184, 70, .4)
.search
    &__block
        display: flex
        justify-content: space-between
        flex-direction: column
        top: 80%
        background: #fff
        width: 100%
        margin-top: 6px
        left: 0
        border-bottom-left-radius: 6px
        border-bottom-right-radius: 6px  
    &__item
        padding: 5px 4px
        display: flex
        justify-content: space-between
    &__result
        &--btn
            background: #57b846
            height: 30px
            width: 30px
            border-radius: 50px
            position: relative
            cursor: pointer
            img
                width: 13px
                height: 13px
                fill: #fff
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
.cap
    &__container    
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        display: flex
        flex-direction: column
    &__sign
        position: relative
        height: 360px
        margin: 0 auto
    &__info
        margin-bottom: 10px 
        font-size: 20px
        color: #fff
        text-align: left
        display: flex
        align-items: center
    &__title
        line-height: 22px
    &__img
        user-select: none
        z-index: 100
    &__block
        margin-top: 10px
        border: 1px solid rgb(214, 214, 214)
        background-color: rgb(238, 238, 238)
        height: 52px
    &__include
        position: absolute
        cursor: grab
        border: 1px solid #000
        width: 50px
        height: 50px
    &__includeMobile
        position: absolute
        cursor: grab
        border: 1px solid #000
        width: 50px
        height: 50px
        display: none
    &__square
        width: 50px 
        height: 50px
        background: #707ad6
        cursor: grab
        padding: 12px 13px 
        user-select: none
        svg
            width: 27px 
            height: 27px
            fill: #fff
    &__text
        width: 100%
        position: absolute
        left: 60px
        line-height: 50px   
        font-size: 14px
        opacity: 1
        transition: .4s
    &__arrow
        display: block
    &__check
        display: none
    &__no
        display: none
    &__nav
        display: flex
        justify-content: flex-end
    &__refresh
        cursor: pointer
        svg
            width: 20px
            height: 20px
            fill: #fff
    &__close
        margin-left: 8px
        cursor: pointer
        svg
            width: 20px
            height: 20px
            fill: #fff
    &__white
        position: absolute
        height: auto
        background: rgba(255, 255, 255, .6)
        border: 1px solid #000
        width: 50px
        height: 50px
    &__whiteMobile
        position: absolute
        height: auto
        background: rgba(255, 255, 255, .6)
        border: 1px solid #000
        width: 50px
        height: 50px
        display: none
    &__image
        position: relative
        z-index: -1
        &--block
            position: absolute
            width: 60px 
            height: 60px
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            display: none
    &__load
        width: 60px 
        height: 60px
        animation: 1s linear 0s infinite load
        z-index: 100
        fill: #fff        
    &__imgHide
        background: #ccc
        position: absolute
        z-index: -1
        top: 0
    &__alert
        display: none
        color: #fff
        margin-top: 8px
        font-size: 14px
.consultation
    background: #FFFFFF
    height: 100vh
    position: relative
    &__block
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -65%)
        svg
            width: 800px
            height: 600px
    &__title
        text-align: center
        font-size: 24px
        margin-top: -80px

@keyframes load
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
        