*
    font-family: MontserratRegular
a
    text-decoration: none
    &:hover
        color: #000
        text-decoration: none
button
    outline: none
input
    outline: none
select
    background: transparent
    font-size: 16px
    color: #555555
    line-height: 1.2
    border: 1px solid #6059B6
    border-radius: 8px
    padding: 7px 15px 7px 10px
    height: 36px
    outline: none
    cursor: pointer

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active 
    -webkit-box-shadow: 0 0 0 30px white inset !important;

@font-face
    font-family: "MontserratRegular"
    src: url("../fonts/Montserrat-Regular.ttf")
    font-display: swap
@font-face
    font-family: "MontserratMedium"
    src: url("../fonts/Montserrat-Medium.ttf")
    font-display: swap
@font-face
    font-family: "MontserratLight"
    src: url("../fonts/Montserrat-Light.ttf")
    font-display: swap
@font-face
    font-family: "MontserratBold"
    src: url("../fonts/Montserrat-Bold.ttf")
    font-display: swap

html
    overflow-x: hidden
.select-hidden
	display: none
	visibility: hidden
	padding-right: 10px
.select
    cursor: pointer
    display: inline-block
    position: relative
    font-size: 16px
    color: #fff
    min-width: 200px
    height: 36px
    line-height: 100%
    color: #000
    border: 1px solid #6059B6
    border-radius: 8px
    font-size: 16px
.select-styled
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: #fff
    padding: 7px 15px
    line-height: 100%
    border-radius: 8px
    &:after
        content: ""
        width: 0
        height: 0
        border: 5px solid transparent
        border-color: #000 transparent transparent transparent
        position: absolute
        top: 50%
        right: 10px
        transform: translateY(-20%)
    .active
        &:after
            top: 9px
            border-color: transparent transparent #000 transparent
.select-options 
    display: none
    position: absolute
    top: 100%
    right: 0
    left: 0
    z-index: 999
    margin: 0
    padding: 0
    list-style: none
    background-color: #fff
    border: 1px solid #000
    border-bottom-left-radius: 8px
    border-bottom-right-radius: 8px
.select-options li 
    margin: 0
    padding: 12px 0
    text-indent: 15px
    border-top: 1px solid darken(#000, 10)
    &:hover
        color: #fff
        background: #6059B6
.select-options li[rel="hide"]
	display: none
.canvas
    pointer-events: none
           
.subjectModalOpen
    opacity: 1
    visibility: visible
    z-index: 100

.current
    visibility: visible
    opacity: 1
    z-index: 10
    &:hover + .shedule__subject--change
        visibility: visible
        opacity: 1
        z-index: 10
    
.hoverChange
    &:hover ~ .shedule__subject--change
        visibility: visible
        opacity: 1
        z-index: 10

// .select2
//     width: 220px !important
//     height: 30px !important
//     &-search__field
//         height: 26px !important
//     &-dropdown
//         width: 214px !important
//     &-results
//         &__option
//             &--selectable
                
//             li
//                 width: 100%
// .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable
//     background: linear-gradient(220deg, #020059, #4513a8)
// .select2-container--default .select2-results__option--selected
//     background: rgba(0, 0, 0, .1)

.ws
    width: 440px
    height: 220px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
.preWeb
    path
        stroke-dasharray: 1900
        stroke-dashoffset: 1900
        animation: draw 2.5s ease infinite
        fill: none
        stroke: #FFF
        stroke-width: 2.5
.appl
    animation: pulseAppl 2s ease infinite
    perspective: 100px

@keyframes draw
    100% 
        stroke-dashoffset: 0

#succulent
    stroke-dasharray: 700
    stroke-dashoffset: 700
    animation: draw 4s ease infinite

@keyframes draw
    100% 
        stroke-dashoffset: 0

#hand_II
    animation: handMove 4s ease infinite
    transform-origin: bottom

@keyframes handMove
    0%
        transform: skewX(0deg)
    50% 
        transform: skewX(6deg)
    100%
        transform: skewX(0deg)

@media (max-width: 460px)
    .ws 
        width: 240px
        height: auto


::scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    border-radius: 8px
    background-color: #F5F5F5
    bordrer: 13px solid rgba(0, 0, 0, 1)
::-webkit-scrollbar
    width: 8px
    height: 8px
    background-color: #F5F5F5
    bordrer: 13px solid rgba(0, 0, 0, 1) !important
::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: rgba(22, 6, 113, .8)
    bordrer: 13px solid rgba(0, 0, 0, 1)

.shedule__hide
    display: none
.smallMenuItem
    margin: 15px auto
    padding: 10px
    border-radius: 0
    &:hover
        border-radius: 0
    svg
        display: block
        margin: 0 auto