{% load static %}

<nav class="menu">
    <div class="menu__head">
        <div class="menu__title title">
            Державний університет <br> «Одеська політехніка»
        </div>
        <img class="menu__logo" src="{% static 'img/icon/onpu.png' %}" alt="">
        <div class="menu__close">
            <img src="{% static 'img/icon/close.svg' %}" class="img-svg" alt="">
        </div>
    </div>
    <ul class="menu__list">
        {% if user.is_student %}
            {% if user.in_group %}
                <a href="{% url 'groups:group_schedule_for_student' group_uuid=user.get_group_uuid %}" class="menu__item">
                    <img src="{% static 'img/icon/calendar.svg' %}" class="img-svg" alt="">
                    <span>Розклад занять</span>
                </a>
            {% endif %}
        {% endif %}
        <a href="{% url 'consultations:list' %}" class="menu__item">
            <img src="{% static 'img/icon/calendar-time.svg' %}" class="img-svg" alt="">
            <span>Розклад консультацій</span>
        </a>
        {% if user.in_group or user.is_teacher %}
        <a href="{% if not user.is_staff %}{% url 'groups:select_journal' %}{% endif %}" class="menu__item">
            <img src="{% static 'img/icon/notebook.svg' %}" class="img-svg" alt="">
            <span>Електронний журнал</span>
        </a>
        {% endif %}
        {% if user.is_student %}
            {% if user.in_group %}
        <a href="{% url 'groups:group' group_uuid=user.get_group_uuid %}" class="menu__item">
            <img src="{% static 'img/icon/group.svg' %}" class="img-svg" alt="">
            <span>Група</span>
        </a>
            {% endif %}
        {% endif %}
        {% if user.is_staff %}
        <a href="{% url 'groups:moderate' %}" class="menu__item">
            <img src="{% static 'img/icon/teamwork.svg' %}" class="img-svg" alt="">
            <span>Налаштування груп</span>
        </a>
        {% endif %}
        {% if user.is_staff %}
        <a href="{% url 'teachers:list' %}" class="menu__item">
            <img src="{% static 'img/icon/teacher.svg' %}" class="img-svg" alt="">
            <span>Керування викладачами</span>
        </a>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'accounts:profile' %}" class="menu__item">
                <img src="{% static 'img/icon/settings.svg' %}" class="img-svg" alt="">
                <span>Налаштування профілю</span>
            </a>
        {% endif %}
    </ul>
</nav>